In [ ]:
#All operations of dictionary

data ={1:"Ajay",2:"Suresh",3:"Raju",4:"Shyam"}
print(type(data))

<class 'dict'>

In [ ]:
dataz = data.copy()
print(dataz)

{1: 'Ajay', 2: 'Suresh', 3: 'Raju', 4: 'Shyam'}

In [ ]:
data.keys()

dict_keys([1, 2, 3, 4])

In [ ]:
data.values()

dict_values(['Ajay', 'Suresh', 'Raju', 'Shyam'])

In [ ]:
data.update({5:"Jayesh"})
print(data)

{1: 'Ajay', 2: 'Suresh', 3: 'Raju', 4: 'Shyam', 5: 'Jayesh'}

In [ ]:
dataz.update({6:"Naveen"})
print(dataz)

{1: 'Ajay', 2: 'Suresh', 3: 'Raju', 4: 'Shyam', 6: 'Naveen'}

In [ ]:
dataz.pop(6)
print(dataz)

{1: 'Ajay', 2: 'Suresh', 3: 'Raju', 4: 'Shyam'}

In [ ]:
dataz.get(3)

'Raju'

In [ ]:
dataz.items()

dict_items([(1, 'Ajay'), (2, 'Suresh'), (3, 'Raju'), (4, 'Shyam')])

In [ ]:
dataz.setdefault(3)

'Raju'

In [ ]:
dataz.clear()

In [ ]:
dataz #Due to usage of clear  in the above cell the dictionary got empty

{}

In [ ]:
data

{1: 'Ajay', 2: 'Suresh', 3: 'Raju', 4: 'Shyam', 5: 'Jayesh'}

In [ ]:
data.popitem()
print(data)

{1: 'Ajay', 2: 'Suresh', 3: 'Raju', 4: 'Shyam'}

In [ ]:
#Sets and its operations
sets = {1,2,3,4,5,3,4,5,4,5}
print(type(sets))
print(sets) #It removed the duplicates !!
print(sets.add(88))
print(sets)
print(sets.remove(5))
print(sets)
print(len(sets))

<class 'set'>
{1, 2, 3, 4, 5}
None
{1, 2, 3, 4, 5, 88}
None
{1, 2, 3, 4, 88}
5

In [ ]:
sets1 = sets.copy()
sets1.add(55)
print(sets.difference(sets1))
print(sets.intersection(sets1))
print(sets.union(sets1))
print(sets.symmetric_difference(sets1))
print(sets.issubset(sets1)) #boolean
print(sets.issuperset(sets1)) #boolean

set()
{1, 2, 3, 4, 88}
{1, 2, 3, 4, 55, 88}
{55}
True
False

In [ ]:
sets1.clear() #The set got empty now!!
print(sets1)
sets1 = {1,2,3,4,5,4,5,4,7}
print(sets1)

set()
{1, 2, 3, 4, 5, 7}

In [ ]:
sets.add("Roy")
print(sets)

{1, 2, 3, 4, 88, 'Roy'}

In [ ]:
print(sets.difference(sets1))
print(sets.intersection(sets1))
print(sets.union(sets1))
print(sets.symmetric_difference(sets1))
print(sets.issubset(sets1))
print(sets.issuperset(sets1))
print(sets.isdisjoint(sets1))

{88, 'Roy'}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 7, 88, 'Roy'}
{5, 7, 88, 'Roy'}
False
False
False

In [ ]:
print(sets1.issubset(sets))
print(sets1.issuperset(sets))
print(sets1.isdisjoint(sets))
print(sets1.union(sets))
print(sets1.intersection(sets))
print(sets1.difference(sets))
print(sets1.symmetric_difference(sets))

False
False
False
{1, 2, 3, 4, 5, 7, 88, 'Roy'}
{1, 2, 3, 4}
{5, 7}
{5, 7, 88, 'Roy'}